﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.main {
    text-align:center;
    margin-top:8%;
}
.main img {
    display:block;
    margin:0 auto;
}
.navbar {
    background-color:#ef7d00;
    border-bottom:15px solid #fac28a;
}
h2 {
    font-family:Open Sans,Arial, Helvetica, sans-serif;
    color:#9d9d9c;
    margin-top:50px;
}
h3 {
    font-family:Open Sans,Arial, Helvetica, sans-serif;
    color:#9d9d9c;
}
.number i {
    color:#ef7d00;
}
.number {
    font-family:Open Sans,Arial, Helvetica, sans-serif;
    font-size:25px;
}
