﻿@{
    ViewBag.Title = "Under Construction";
}

<div class="container main">

    <img class="img-responsive" src="~/images/logo.png" />
    <h2>Our website is currently under construction.</h2><br />
    <h3>Please call us on:</h3><br />
    <div class="row">

        <div class="number" style="font-size:40px;"><i class="fa fa-phone-square"></i> 0113 2868 110</div><br />

        <h3>Or email:</h3><br />

        <a href="mailto:info@innovation-scaffolding.com" class="number" style="font-size:36px;color:#333333;"><i class="fa fa-envelope-square"></i> info@innovation-scaffolding.com</a><br /><br />

        <div class="number">
            Unit B <br />Lotherton Business Park <br />Lotherton Way<br />
            Garforth <br />Leeds <br />LS25 2HP
        </div>
    </div>
</div>